.App {
  text-align: left;
  width: 375px;
  height: 640px;
}

p {
  padding: 0px 10px 0px 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.List-dollar {
  text-align: right
}
.App-header {
  text-align: center;
  background-color: rgb(33, 133, 208);
  height: 45px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
