<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jam.pandaroo_convo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/png"
        android:label="@string/app_name"
        android:roundIcon="@drawable/png"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WelGuiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InitialSurveyActivity" />
        <activity
            android:name=".DiscussionActivity"
            android:label="@string/title_activity_discussion"
            android:theme="@style/AppTheme" />
        <activity android:name=".PostSurveyActivity" />
        <activity android:name=".FinishFocusActivity"></activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegistActivity"></activity>
    </application>

</manifest>